@font-face {
  font-family: 'vazir';
  src: url('./../font/vazir.eot');
  src: url('./../font/vazir.ttf')  format('truetype'),
      url('./../font/vazir.woff2') format('woff2'),
      url('./../font/vazir.woff') format('woff');
}
body {
  margin: 0;
  direction: rtl;
  font-family: 'vazir';

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
